---
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Menu from '../../components/Menu.astro';

const title = 'Proyecto';
const description = 'Hiperstición es una editorial cooperativa autogestionada dedicada a la reflexión filosófica y la difusión de nuevas ideas.';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={title} description={description} image="/img/silla-synco-dither.png" />
	</head>
	<body>
		<Menu />
		<main class="proyecto-container">
			<div class="proyecto-content">
				<article>
					<p>
						<strong>Hiperstición</strong>
						es una
						<strong>editorial cooperativa autogestionada</strong>, fundada en el año 2022 en la infósfera de las plataformas
						sociales, que por practicidad física gravitó a Santiago de Chile.
					</p>
					<p>
						Nuestro catálogo invita a la reflexión de las nuevas filosofías, poniendo a disposición del público lecturas no
						disponibles antes en español, así como obras originales escritas en nuestro idioma. Desde esta base, trazaremos un
						recorrido transversal y heterodoxo, donde las personas integrantes de la cooperativa pueden publicar sus intereses
						colectivizados, sean ensayos, novelas, poesía y todo aquello que nos permita generar conexiones entre grupos diversos
						con teleologías compartidas.
					</p>
					<p>
						Buscamos hipersticionar los futuros que nos fueron arrebatados, ya sea para vivir las utopías o para sobrevivir al
						desierto.
					</p>
					<p>
						<strong>Comisiones:</strong>
						<ul>
							<li>Comisión Diseño</li>
							<li>Comisión Digital</li>
							<li>Comisión Traducción</li>
							<li>Comisión Administrativa</li>
							<li>Comisión Imprenta</li>
						</ul>
					</p>
				</article>
			</div>
		</main>
		<Footer />
	</body>
</html>

<style>
	.proyecto-container {
		margin-left: 50%;
		min-height: 100%;
		border-top: 2px solid var(--accent);
	}

	.proyecto-content {
		width: 100%;
		max-width: 800px;
	}

	article {
		font-size: 1.1rem;
		line-height: 1.8;
		border: 1px solid var(--black);
		margin-bottom: -1px;
		padding: 15px 20px;
		background: var(--white);
	}

	article p {
		margin-bottom: 1.5rem;
	}

	article strong {
		font-weight: 700;
		color: var(--accent);
	}

	article ul {
		margin: 1rem 0;
		padding-left: 2rem;
	}

	article li {
		margin-bottom: 0.5rem;
		list-style-type: disc;
	}

	/* Media queries para tablets y desktop */
	@media (min-width: 768px) {
		.proyecto-container {
			padding: 1rem 0 100px 0;
			margin-left: 50%;
			border-top: 2px solid var(--accent);
		}
	}

	@media (max-width: 768px) {
		.proyecto-container {
			margin-left: 0;
			border-top: 2px solid var(--accent);
		}

		article {
			font-size: 1rem;
			padding: 1rem;
		}
	}
</style>