@keyframes bganimation {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Space Grotesk", sans-serif;
    background: linear-gradient(to right, #f6cdad, #f6e0d0),
        url(img/noise.svg);
    min-height: 100%;
    animation: bganimation 5s ease infinite;
}

.container {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.column-2 {
    position: relative;
}

/* Media queries para tablets */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }

    .column-2 {
        position: relative;
        width: 50%;
    }

    .container {
        flex-wrap: nowrap;
        flex-direction: row-reverse;
    }
}

/* Media queries para desktops */
@media (min-width: 1024px) {
    .column-2 {
        position: relative;
        width: 50%;
    }

    .container {
        flex-wrap: nowrap;
        flex-direction: row-reverse;
    }
}

/* Ajustes adicionales para elementos específicos */
img {
    max-width: 100%;
    height: auto;
}