@keyframes bganimation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Space Grotesk", sans-serif;
    background: linear-gradient(to right, #f6cdad, #f6e0d0),
    url(img/noise.svg);
    min-height: 100%;
    animation: bganimation 5s ease infinite;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 0 20px; /* Añadir padding para evitar que los SVG toquen los bordes */
}
.landing {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.logo {
    width: auto;
    height: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.logo a {
    width: 109px;
    height: 120px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}
.logo a:hover img {
    width: 96%;
    filter: brightness(1.5) contrast(1.5);
}
.logo a svg {
    position: relative;
    z-index: 1;
}
.logo-item--distribucion {
    margin-left: -25px;
}
.logo img {
    max-width: 100%;
    height: auto;
}
.logo text {
    font-size: 14px;
    fill: #333;
    text-anchor: middle;
    opacity: 0;
    transition: opacity 0.3s ease;
}
h1.title {
    font-size: 3rem;
}
.title {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    transition: opacity 0.3s ease;
}
.title-hover {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
}
@media (max-width: 768px) {
    .logo {
        width: 100%;
        max-width: 545px;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo a {
        width: 20%;
        min-width: 60px;
        height: auto;
        margin: 5px;
    }
}
