.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

h1.title {
    font-size: 3rem;
    text-align: right;
    margin: 5px 25px;
}

.title {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    transition: opacity 0.3s ease;
}

.title-hover {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.logo {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logo a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d05240;
    text-decoration: none;
}

.logo a svg {
    width: 32px;
    height: auto;
    margin: 5px;
}

.logo-button {
    fill: #d05240;
    stroke: #d05240;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4;
}

.logo text {
    font-size: 14px;
    fill: #333;
    text-anchor: middle;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.logo a strong {
    color: #000;
    text-decoration: none;
}

.menu {
    background: #fff;
}

/* Media queries para tablets */
@media (min-width: 768px) {
    .menu {
        position: fixed;
        top: 33%;
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background: transparent;
    }

    .logo {
        width: auto;
        height: 120px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
    }
    
    .logo a {
        width: 109px;
        height: 120px;
        margin-right: 10px;
        display: inline-block;
        position: relative;
        border: none;
    }

    .logo a svg {
        position: relative;
        width: auto;
        z-index: 1;
    }

    .logo a strong {
        display: none;
    }

    .logo-item--distribucion {
        margin-left: -25px;
    }

    .logo a:hover .logo-button {
        fill: #f6cdad;
    }
}
