.menu {
    position: fixed;
    top: 33%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

h1.title {
    font-size: 3rem;
    text-align: right;
    margin: 5px 25px;
}
.title {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    transition: opacity 0.3s ease;
}
.title-hover {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.logo {
    width: auto;
    height: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.logo a {
    width: 109px;
    height: 120px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}

.logo a:hover .logo-button {
    fill: #f6cdad;
}

.logo a svg {
    position: relative;
    z-index: 1;
}

.logo-button {
    fill: #d05240;
    stroke: #d05240;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4;
}

.logo-item--distribucion {
    margin-left: -25px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.logo text {
    font-size: 14px;
    fill: #333;
    text-anchor: middle;
    opacity: 0;
    transition: opacity 0.3s ease;
}