---
title: Hiperstición
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{{ metatitle }}">
    <meta name="description" content="{{ metadescription }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://hipersticion.xyz{{page.url}}">
    <meta property="og:title" content="{{ metatitle }}">
    <meta property="og:description" content="{{ metadescription }}">
    <meta property="og:image" content="{{ site.url + image }}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://hipersticion.xyz{{page.url}}">
    <meta property="twitter:title" content="{{ metatitle }}">
    <meta property="twitter:description" content="{{ metadescription }}">
    <meta property="twitter:image" content="{{ site.url + image }}">
    <title>Hiperstición ⬟ {{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/bundle.css" /> 
</head>
<body>
    <div class="container">
        {{ content | safe }}
    </div>

    {% include 'footer.njk' %}

    <script src="/bundle.js"></script>
</body>
</html>
