<footer class="footer">
        <div class="marquee">
            <div class="marquee-content">
                Nuevo lanzamiento: Noche, filosofía tras la oscuridad &nbsp;&nbsp;&nbsp;
                Nuevo lanzamiento: Noche, filosofía tras la oscuridad &nbsp;&nbsp;&nbsp;
                Nuevo lanzamiento: Noche, filosofía tras la oscuridad &nbsp;&nbsp;&nbsp;
            </div>
        </div>
        <div class="footer-info">
            <span>© 2024 <a href="/">Hiperstición</a></span>
            <div class="buttons">
            <a href="mailto:editorial.hipersticion@gmail.com">Contacto</a>
            <a href="https://www.instagram.com/hipersticion.editorial/">IG</a>
            {# <a href="#fb">FB</a>
            <a href="#x">X</a> #}
        </div>
        </div>
    </footer>