<section class="menu">
    <h1 class="title">{{ title }} HIPERSTICIÓN</h1>
    <h1 class="title title-hover" id="hoverTitle"></h1>
    <div class="logo">
        <a href="/" class="menu-item logo-item--inicio" data-hover-text="INICIO">
            <svg viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle class="logo-button" cx="60" cy="60" r="55"/>
            </svg>
            <strong>INICIO</strong>
        </a>
        <a href="/catalogo" class="menu-item logo-item--catalogo" data-hover-text="CATÁLOGO">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 5 109 109">
                <path class="logo-button" d="M0 10h100v100H0z"/>
            </svg>
            <strong>CATÁLOGO</strong>
        </a>
        <a href="/proyecto" class="menu-item logo-item--proyecto" data-hover-text="PROYECTO">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 109 109">
                <path class="logo-button" d="M54 111 3 5h103z"/>
            </svg>
            <strong>PROYECTO</strong>
        </a>
        <a href="/distribucion" class="menu-item logo-item--distribucion" data-hover-text="DISTRIBUCIÓN">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 5 109 109">
                <path class="logo-button" d="m54 10 52 101H3z"/>
            </svg>
            <strong>DISTRIBUCIÓN</strong>
        </a>
        <a href="/blog" class="menu-item logo-item--blog" data-hover-text="BLOG">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 109 109">
                <path class="logo-button" d="M54 10 3 48l20 60h63l20-63z"/>
            </svg>
            <strong>BLOG</strong>
        </a>
    </div>
</section>