---
import { getCollection } from 'astro:content';
const footerCollection = await getCollection('footer');
const footerContent = footerCollection[0];

const marqueeLinks = footerContent?.data?.marqueeLinks;
---

<footer class="footer">
    <div class="marquee">
        <div class="marquee-content">
            {marqueeLinks?.map((link, index) => (
                <>
                      <a href={link.url} class="marquee-link">{link.text}</a>
                      {index < marqueeLinks.length - 1 ? ' • ' : ' • Hiperstición, editando el futuro.'}
                </>
            ))}
        </div>
    </div>
    <div class="footer-info">
        <span>© 2024 <a href="/">Hiperstición</a></span>
        <div class="buttons">
            <a href="mailto:editorial.hipersticion@gmail.com">Contacto</a>
            <a href="https://www.instagram.com/hipersticion.editorial/">IG</a>
        </div>
    </div>
</footer>

<style>
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--accent);
        color: var(--white);
        font-family: "Space Grotesk", sans-serif;
        z-index: 1000;
    }

    .marquee {
        overflow: hidden;
        padding: 10px 0;
        display: none;
    }

    .marquee-content {
        display: inline-block;
        white-space: nowrap;
        animation: marquee 40s linear infinite;
        font-size: 1rem;
    }

    @keyframes marquee {
        0% { transform: translateX(100%); }
        100% { transform: translateX(-100%); }
    }

    .footer-info {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: var(--accent-dark);
        font-size: 0.9rem;
    }

    .footer-info span {
        font-weight: 500;
    }

    .footer-info a:hover {
        text-decoration: underline;
    }

    .footer-info a {
        color: var(--white);
        text-decoration: none;
    }

    .buttons a {
        padding: 0 10px;
        border-left: 1px solid var(--white);
        border-right: 1px solid var(--white);
    }

    .buttons a:first-child {
        border-left: none;
    }

    .marquee-link {
        color: var(--white);
        text-decoration: none;
        transition: text-decoration 0.2s ease;
        margin-right: 10px;
        margin-left: 10px;
    }

    .marquee-link:hover {
        text-decoration: underline;
    }

    /* Media queries para tablets y desktop */
    @media (min-width: 768px) {
        .marquee {
            display: block;
        }

        .footer-info {
            font-size: 1.125rem;
        }
    }

    @media (max-width: 768px) {
        .footer {
            position: relative;
        }

        .footer-info {
            flex-direction: column;
            text-align: center;
            gap: 10px;
            font-size: 0.9rem;
        }

        .buttons {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        .buttons a {
            border: none !important;
            padding: 0 !important;
        }

        .marquee-content {
            font-size: 0.9rem;
        }
    }
</style>
