---
layout: base.njk
title: Catálogo de Libros
---
<div class="column-2">
{% include 'menu.njk' %}
</div>
<div class="column-2">
    <div class="book-grid">
    <div class="book-item">
        <img src="/img/portada-libro1.png" alt="Portada de Libro 1" class="book-cover">
        <h2 class="book-title">El Laberinto de los Espíritus</h2>
        <p class="book-author">Carlos Ruiz Zafón</p>
        <p class="book-price">$24.99</p>
        <p class="book-description">Una novela que cierra el ciclo de La Sombra del Viento, el fenómeno literario mundial más importante de nuestros tiempos.</p>
    </div>

    <div class="book-item">
        <img src="/img/portada-libro2.png" alt="Portada de Libro 2" class="book-cover">
        <h2 class="book-title">Cien Años de Soledad</h2>
        <p class="book-author">Gabriel García Márquez</p>
        <p class="book-price">$19.99</p>
        <p class="book-description">La obra cumbre del Premio Nobel de Literatura colombiano, una saga familiar que abarca siete generaciones en el pueblo ficticio de Macondo.</p>
    </div>

    <div class="book-item">
        <img src="/img/portada-libro1.png" alt="Portada de Libro 1" class="book-cover">
        <h2 class="book-title">El Laberinto de los Espíritus</h2>
        <p class="book-author">Carlos Ruiz Zafón</p>
        <p class="book-price">$24.99</p>
        <p class="book-description">Una novela que cierra el ciclo de La Sombra del Viento, el fenómeno literario mundial más importante de nuestros tiempos.</p>
    </div>

    <div class="book-item">
        <img src="/img/portada-libro2.png" alt="Portada de Libro 2" class="book-cover">
        <h2 class="book-title">Cien Años de Soledad</h2>
        <p class="book-author">Gabriel García Márquez</p>
        <p class="book-price">$19.99</p>
        <p class="book-description">La obra cumbre del Premio Nobel de Literatura colombiano, una saga familiar que abarca siete generaciones en el pueblo ficticio de Macondo.</p>
    </div>
    </div>
</div>