---
layout: base.njk
title: Catálogo de Libros
---

<div class="column-2">
    {% include 'menu.njk' %}
</div>
<div class="column-2 catalogo">
    <div class="book-grid">
        <div class="book-item">
            <img src="/img/portada-noche.png" alt="Portada de Noche" class="book-cover">
            <h2 class="book-title">Noche: Filosofía tras la Oscuridad</h2>
            <p class="book-author">Jason Bahbak Mohaghegh</p>
            <p class="book-description">La presente obra es un paseo por distintas formas nocturnas, aquello que cae y aquello que
                surge durante la noche. Explora a los habitantes más fascinantes de esas horas insomnes y los rituales, colectivos y
                personajes, que realizan con cada ocaso: la noche del ladrón, la noche del lunático, la noche de la hechicera y la noche
                del revolucionario son algunos de los pasajes a visitar. Desde rituales antiguos, historias medievales, hasta imágenes
                futuristas para poder explorar la experiencia humana después del ocaso.</p>
        </div>
        <div class="book-item">
            <img src="/img/portada-ciencia-intensiva.png" alt="Portada de Ciencia Intensiva y Filosfía Virtual" class="book-cover">
            <h2 class="book-title">Ciencia Intensiva y Filosofía Virtual</h2>
            <p class="book-author">Manuel DeLanda</p>
            <p class="book-description">Manuel DeLanda acerca la ontología de Deleuze a filósofos analíticos de la ciencia y a
                científicos interesados en preguntas filosóficas, buscando desmoronar el cisma entre continental y analítico. Para esto,
                retoma y potencia el realismo presente en el filósofo francés retomando un concepto fundamental: lo virtual. Mostrando
                un profundo y variado conocimiento, el autor despliega una estructurada reflexión conceptual sobre lo virtual, como una
                categoría decisiva para abandonar un pensamiento escencialista, actualista y lineal, así construir un nuevo realismo.
                <em>Coeditado junto a
                    <a href="https://tintalimon.com.ar/">Tinta Limón<a></em>
                    </p>
                </div>
                <div class="book-item">
                    <img src="/img/portada-noche.png" alt="Portada de Libro 1" class="book-cover">
                    <h2 class="book-title">Noche: filosofía tras la oscuridad</h2>
                    <p class="book-author">Jason Bahbak Mohaghegh</p>
                    <p class="book-description">La presente obra es un paseo por distintas formas nocturnas, aquello que cae y aquello que
                        surge durante la noche. Explora a los habitantes más fascinantes de esas horas insomnes y los rituales, colectivos y
                        personajes, que realizan con cada ocaso: la noche del ladrón, la noche del lunático, la noche de la hechicera y la noche
                        del revolucionario son algunos de los pasajes a visitar. Desde rituales antiguos, historias medievales, hasta imágenes
                        futuristas para poder explorar la experiencia humana después del ocaso.</p>
                </div>
                <div class="book-item">
                    <img src="/img/portada-noche.png" alt="Portada de Libro 1" class="book-cover">
                    <h2 class="book-title">Noche: filosofía tras la oscuridad</h2>
                    <p class="book-author">Jason Bahbak Mohaghegh</p>
                    <p class="book-description">La presente obra es un paseo por distintas formas nocturnas, aquello que cae y aquello que
                        surge durante la noche. Explora a los habitantes más fascinantes de esas horas insomnes y los rituales, colectivos y
                        personajes, que realizan con cada ocaso: la noche del ladrón, la noche del lunático, la noche de la hechicera y la noche
                        del revolucionario son algunos de los pasajes a visitar. Desde rituales antiguos, historias medievales, hasta imágenes
                        futuristas para poder explorar la experiencia humana después del ocaso.</p>
                </div>
                <div class="book-item">
                    <img src="/img/portada-noche.png" alt="Portada de Libro 1" class="book-cover">
                    <h2 class="book-title">Noche: filosofía tras la oscuridad</h2>
                    <p class="book-author">Jason Bahbak Mohaghegh</p>
                    <p class="book-description">La presente obra es un paseo por distintas formas nocturnas, aquello que cae y aquello que
                        surge durante la noche. Explora a los habitantes más fascinantes de esas horas insomnes y los rituales, colectivos y
                        personajes, que realizan con cada ocaso: la noche del ladrón, la noche del lunático, la noche de la hechicera y la noche
                        del revolucionario son algunos de los pasajes a visitar. Desde rituales antiguos, historias medievales, hasta imágenes
                        futuristas para poder explorar la experiencia humana después del ocaso.</p>
                </div>
                <div class="book-item">
                    <img src="/img/portada-noche.png" alt="Portada de Libro 1" class="book-cover">
                    <h2 class="book-title">Noche: filosofía tras la oscuridad</h2>
                    <p class="book-author">Jason Bahbak Mohaghegh</p>
                    <p class="book-description">La presente obra es un paseo por distintas formas nocturnas, aquello que cae y aquello que
                        surge durante la noche. Explora a los habitantes más fascinantes de esas horas insomnes y los rituales, colectivos y
                        personajes, que realizan con cada ocaso: la noche del ladrón, la noche del lunático, la noche de la hechicera y la noche
                        del revolucionario son algunos de los pasajes a visitar. Desde rituales antiguos, historias medievales, hasta imágenes
                        futuristas para poder explorar la experiencia humana después del ocaso.</p>
                </div>
            </p>
        </div>
    </div>