---
permalink: bundle.css
---
{% include "_input/css/index.css" %}
{% include "_input/css/menu.css" %}
{% include "_input/css/footer.css" %}
{% include "_input/css/inicio.css" %}
{% include "_input/css/entry.css" %}
{% include "_input/css/distribucion.css" %}
{% include "_input/css/catalogo.css" %}
{% include "_input/css/blog.css" %}
{% include "_input/css/proyecto.css" %}