---
layout: base.njk
title: Distribución
---
<div class="column-2">
{% include 'menu.njk' %}
</div>
<div class="column-2">
    <div class="distribution-list">
        <div class="distribution-header">
            <span>País</span>
            <span>Librería / Punto de Venta</span>
            <span>Contacto</span>
        </div>
        <div class="distribution-item">
            <span>España</span>
            <span>Librería Cervantes</span>
            <span>
                <a href="mailto:info@cervantes.es">info@cervantes.es</a><br>
                +34 912 345 678<br>
                Calle Gran Vía 39, Madrid
            </span>
        </div>
        <div class="distribution-item">
            <span>México</span>
            <span>Librería Porrúa</span>
            <span>
                <a href="mailto:contacto@porrua.mx">contacto@porrua.mx</a><br>
                +52 55 1234 5678<br>
                Av. Insurgentes Sur 954, CDMX
            </span>
        </div>
        <div class="distribution-item">
            <span>Argentina</span>
            <span>El Ateneo Grand Splendid</span>
            <span>
                <a href="mailto:info@elateneo.com">info@elateneo.com</a><br>
                +54 11 4813-6052<br>
                Av. Santa Fe 1860, Buenos Aires
            </span>
        </div>
        <div class="distribution-item">
            <span>Argentina</span>
            <span>El Ateneo Grand Splendid</span>
            <span>
                <a href="mailto:info@elateneo.com">info@elateneo.com</a><br>
                +54 11 4813-6052<br>
                Av. Santa Fe 1860, Buenos Aires
            </span>
        </div>
        <div class="distribution-item">
            <span>Argentina</span>
            <span>El Ateneo Grand Splendid</span>
            <span>
                <a href="mailto:info@elateneo.com">info@elateneo.com</a><br>
                +54 11 4813-6052<br>
                Av. Santa Fe 1860, Buenos Aires
            </span>
        </div>
        <div class="distribution-item">
            <span>Argentina</span>
            <span>El Ateneo Grand Splendid</span>
            <span>
                <a href="mailto:info@elateneo.com">info@elateneo.com</a><br>
                +54 11 4813-6052<br>
                Av. Santa Fe 1860, Buenos Aires
            </span>
        </div>
    </div>
</div>
