---
layout: base.njk
title: Inicio
---

<div class="column-2 inicio-menu">
    {% include 'menu.njk' %}
    <img src="/img/burkes-dither-silla.png" alt="Silla CyberSyn" class="silla" loading="eager">
</div>
<section class="column-2 inicio">
    <h1 class="title">HIPERSTICIÓN</h1>
</section>