---
layout: base.njk
title: Proyecto
---

<div class="column-2">
    {% include 'menu.njk' %}
</div>
<div class="column-2 proyecto">
    <article>
        <p>
            <strong>Hiperstición</strong>
            es una
            <strong>editorial cooperativa autogestionada</strong>, fundada en el año 2022 en la infósfera de las plataformas
                sociales, que por practicidad física gravitó a Santiago de Chile.
        </p>
        <p>
            Nuestro catálogo invita a la reflexión de las nuevas filosofías, poniendo a disposición del público lecturas no
            disponibles antes en español, así como obras originales escritas en nuestro idioma. Desde esta base, trazaremos un
            recorrido transversal y heterodoxo, donde las personas integrantes de la cooperativa pueden publicar sus intereses
            colectivizados, sean ensayos, novelas, poesía y todo aquello que nos permita generar conexiones entre grupos diversos
            con teleologías compartidas.
        </p>
        <p>
            Buscamos hipersticionar los futuros que nos fueron arrebatados, ya sea para vivir las utopías o para sobrevivir al
            desierto.
        </p>
        <p>
            <ul>
                <li>Comisión Diseño</li>
                <li>Comisión Digital</li>
                <li>Comisión Traducción</li>
                <li>Comisión Administrativa</li>
                <li>Comisión Imprenta</li>
                <ul></p>
            </article>
        </div>